<!--Include the base template-->
{% include "basetemplate.html" %}


<style>
textarea
{
  width:100%;
}
.textwrapper
{
  border:1px solid #999999;
  margin:5px 0;
  padding:3px;
}
</style>
<!-- Page Content -->
 <div class="container">
<h1 class="my-4 text-center text-lg-left">Recipes Data</h1>
    
        
     <center><p class="lead">EDIT JSON Recipes File (Admin-Access Only)</p></center>
   
{%if message=="saved"%}
<div class="alert alert-success" role="alert" id="success-alert">
  <strong>Success:</strong> Changes saved successfully!</div>
{% endif %}
   <form method="POST" action="http://35.227.68.237:5000/savejson">
<input class="btn btn-primary pull-right" type="submit" value="Save Changes">
     <div style="display: block;" id="rulesformitem" class="formitem">
     <div class="textwrapper"><textarea name="editedjson" cols="2" rows="50" id="rules">{{data}}</textarea></div>
     
   </form>



</div>

 
       
<br/><br/><br/>
<!-- Page Content -->

<script>
$("#success-alert").fadeTo(3000, 500).slideUp(500, function(){
    $("#success-alert").slideUp(500);
});
</script>
