<!--Include the base template-->
{% include "basetemplate.html" %}


<!-- Page Content -->
<div class="container">
<h1 class="my-4 text-center text-lg-left">Train Dataset</h1>
<center>
<p class="lead"><span style="color:red">Includes:</span> {{images|length}} Images with their Bounding Boxes in XML<br/>
<span style="color:red">Last Update:</span> December 02, 2017</p></center>
      <div class="row text-center text-lg-left">

 {% for image in images %}
<!--Remove .jpg and add .xml to get the url of the xml file [found in same dir of images and have the same name but # ext] -->
        {% set xml_url_from_jpg=image|replace('jpg', 'xml') %}
        <div class="col-lg-3 col-md-4 col-xs-6">
          <a href="{{ url_for('static', filename='dataset/train/' + xml_url_from_jpg) }}" class="d-block mb-4 h-100" target="_blank">
            <img class="img-fluid img-thumbnail" src="{{ url_for('static', filename='dataset/train/' + image) }}">
          </a>
        </div>
    
{% endfor %}
       </div>
      </div>     
<br/><br/><br/>
<!-- Page Content -->
